In [1]:
print("Hello World")

Hello World

### Drawing a shape

In [8]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

### Variables and Data types

In [11]:
character_name = "Tom"##string(in double quotes)
character_age = "50"#numbers int and decimal 50.5638567 
is_male = False # boolean(True or False)
print("There once was a man named " + character_name + ", ")
print("he was " + character_age + " years old. ")

character_name = "Mike" 
print("He really liked the name " + character_name + ", " )
print("but didn't like being " + character_age + ".")

There once was a man named Tom,
he was 50 years old.
He really liked the name Mike,
but didn't like being 50.

### Working with Strings

In [14]:
print("Giraffe Academy")
print("Giraffe\nAcademy")
print("Giraffe\"Academy")
print("Giraffe\Academy")

## creating a string Variable
phrase = "Giraffe Academy"
print(phrase)

##Concatination (taking a string and appending other string onto it)
phrase = "Giraffe Academy"
print(phrase + " is cool")
## in order to do all that stuff we can also use special things called functions. 
# And a function is basiccaly just a little block of code that we can run.
# And it will perrform a specific operation for us. So we can use functions to modify our strings.
# and we can also use functions to get information about our strings. examples below
phrase = "Giraffe Academy"
print(phrase.lower())

phrase = "Giraffe Academy"
print(phrase.upper())

phrase = "Giraffe Academy"
print(phrase.isupper()) 

## we can use these functions in combination with each other.
phrase = "Giraffe Academy"
print(phrase.upper().isupper())

##we can als figure out the length of the string aswell
phrase = "Giraffe Academy"
print(len(phrase))

##getting Individual Characters of the string
phrase = "Giraffe Academy"
print(phrase[0]) #String index start with 0

phrase = "Giraffe Academy"
print(phrase[7])# empty space

phrase = "Giraffe Academy"
print(phrase[9])

##Another Awesome function that we can use is called index function.
# Basicaly it'll tell us where a specific character or string is located inside our string.
phrase = "Giraffe Academy"
print(phrase.index("G"))  

phrase = "Giraffe Academy"
print(phrase.index("a")) 

phrase = "Giraffe Academy"
print(phrase.index("Acad"))
## it shows error if we don't put a parameter which is inside our string.
#for eg: try with letter z.


#Another function "replace"(here we can give 2 parameters)
phrase = "Giraffe Academy"
print(phrase.replace("Giraffe", "Elephant"))

Giraffe Academy
Giraffe
Academy
Giraffe"Academy
Giraffe\Academy
Giraffe Academy
Giraffe Academy is cool
giraffe academy
GIRAFFE ACADEMY
False
True
15
G

c
0
3
8
Elephant Academy

<>:4: SyntaxWarning: invalid escape sequence '\A'
<>:4: SyntaxWarning: invalid escape sequence '\A'
C:\Users\ramya\AppData\Local\Temp\ipykernel_1944\622566026.py:4: SyntaxWarning: invalid escape sequence '\A'
  print("Giraffe\Academy")

### Working with Numbers

In [ ]:
print(2)
print(2.0987)
print(-2.0987)
print(3+4)
print(3+4.5)
print(3/4.5)
print(-2+9)
print(3*4.5)
print(3.2*5.8)
print(3*4+5)
print(3*(4+5))

#modulus operator
print(10%3)## give us the remainder

## we can store these numbers in the variables as well
my_num = 5
print(my_num)

#converting the number into the string
my_num = 5
print(str(my_num) + "my favorite number")

#if i write above couple of lines of code like following we end up getting an error cause my num is integer and the rest of the print statement is string.
# my_num = 5
# print(my_num + "my favorite number")

#more mathematical operations:
my_num = - 5
print(abs(my_num))

my_num = 5# this pow function allows us to pass 2 pieces of information(so the 1st one is gonna be the number and the second one is gonna be the power) 
print(pow(3, 2))

print(pow(5, 2))

print(max(5,18))#prints highest number
print(min(28, 48))#prints lowest number

print(round(3.2))#this function allows us to round a number

print(round(3.7))

#in the below statement math is called the module
from math import*#above are few math functions but there are bunch more math functions so to access them we use this.
print(floor(3.7)) #chop off the value after decimal

print(ceil(3.7))#we always get the next integer no matter what is there after decimal may be below 5 or above 5 doesn't matter always next integer in this case we get 4

print(sqrt(36))

### Getting Input From Users

In [22]:
name = input("Enter ur name: ")
print("Hello " + name + "!")

Enter ur name:  Sathvika

Hello Sathvika!

name = input("Enter ur name: ")
age = input("Enter ur age: ")
print("Hello " + name + "! You are " + age)

 ### Building a Basic Calculator

In [27]:
num1 = input("Enter a number: ")
num2 = input("Enter another number: ")
result = float(num1) + float(num2)#we can use int and float both but better to use float we can add decimal numbers as well other if we int we can only andd int if we try to add decimal numbers by putting int data type we end up getting error
print(result)

Enter a number:  2
Enter another number:  3.8

5.8

### Mad Libs Game

In [30]:
print ("Roses are red")
print("Violets are blue")
print("I love you")

Roses are red
Violets are blue
I love you

In [32]:
colour = input("Enter a colour: ")
plural_noun = input("Enter a Plural Noun: ")
celebrity = input("Enter a celebrity: ")
print ("Roses are " + colour)
print(plural_noun + " are blue")
print("I love " + celebrity)

Enter a colour:  red
Enter a Plural Noun:  Birds
Enter a celebrity:  Mahesh Babu

Roses are red
Birds are blue
I love Mahesh Babu

### Lists

In [35]:
friends = ["Kevin", "Karen", "Jim"] #ususally we store only 1 value in a variable but here in Lists we can store multiple values.
print(friends)

['Kevin', 'Karen', 'Jim']

In [37]:
friends = ["Kevin", "Karen", "Jim"]
print(friends[0])

Kevin

In [39]:
friends = ["Kevin", "Karen", "Jim"]
print(friends[-1])

Jim

In [41]:
friends = ["Kevin", "Karen", "Jim"]
print(friends[-2])

Karen

In [43]:
friends = ["Kevin", "Karen", "Jim"]
print(friends[1:])

['Karen', 'Jim']

In [45]:
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
print(friends[1:3])

['Karen', 'Jim']

In [47]:
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
print(friends[1:])

['Karen', 'Jim', 'Oscar', 'Toby']

In [51]:
## Modify
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends[1] = "Mike"
print(friends[1:])

['Mike', 'Jim', 'Oscar', 'Toby']

### List Functions

In [56]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

In [60]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"] 
## extend function(appending one list with another)
friends.extend(lucky_numbers)
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 4, 8, 15, 16, 23, 42]

In [62]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.append("Creed")
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 'Creed']

In [64]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.insert(1, "Kelly")
print(friends)

['Kevin', 'Kelly', 'Karen', 'Jim', 'Oscar', 'Toby']

In [66]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.remove("Jim")
print(friends)

['Kevin', 'Karen', 'Oscar', 'Toby']

In [68]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.clear()
print(friends)

[]

In [70]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.pop()
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar']

In [72]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
print(friends.index("Kevin"))

0

In [74]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
print(friends.index("Oscar"))

3

In [76]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
print(friends.index("Mike"))

ValueError: 'Mike' is not in list

In [78]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
print(friends.count("Jim"))

2

In [80]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
friends.sort()
print(friends)

['Jim', 'Jim', 'Karen', 'Kevin', 'Oscar', 'Toby']

In [82]:
lucky_numbers = [42, 4, 8, 15, 16, 23]
friends = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
lucky_numbers.sort()
print(lucky_numbers)

[4, 8, 15, 16, 23, 42]

In [84]:
lucky_numbers = [42, 4, 8, 15, 16, 23]
friends = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
lucky_numbers.sort()
print(friends)

['Kevin', 'Karen', 'Jim', 'Jim', 'Oscar', 'Toby']

In [86]:
lucky_numbers = [42, 4, 8, 15, 16, 23]
friends = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
lucky_numbers.reverse()
print(lucky_numbers)

[23, 16, 15, 8, 4, 42]

In [88]:
lucky_numbers = [42, 4, 8, 15, 16, 23]
friends = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
friends2 = friends.copy()

print(friends2)

['Kevin', 'Karen', 'Jim', 'Jim', 'Oscar', 'Toby']

### Tuples

In [91]:
coordinates = (4, 5) 
print(coordinates[0])

4

In [93]:
coordinates = (4, 5) 
print(coordinates[1])

5

In [95]:
coordinates = (4, 5)
coordinates[1] = 10
print(coordinates[1]) ## we will get an error coz we cannot modify it. but in list we can do that

TypeError: 'tuple' object does not support item assignment

In [99]:
coordinates = [(4, 5), (6, 7), (80, 34)]
coordinates[1] = (8,10)
print(coordinates)

[(4, 5), (8, 10), (80, 34)]